# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez
.vscode/launch.json
package-lock.json

dotnet/ConsoleApp1/bin
dotnet/ConsoleApp1/obj
dotnet/ConsoleApp1/.vs
/.vs
/dotnet/Katas/bin/Debug/net5.0
/dotnet/Katas/obj
/dotnet/.vs/Katas
/dotnet/.vs/Katas/v16/.suo
/dotnet/Katas/bin/Debug/net6.0
/dotnet/AdventOfCode/bin/Debug/net6.0
/dotnet/AdventOfCode/obj
node_modules
